<!DOCTYPE html>
<html lang="en">
  <%- include('./header.ejs') %>
<body>
    <div class="container">
      <h1 class="text-center p-3">About Our PizzaStore</h1>
    </div>
    <hr>
    <div class="row mt-5">
      <div class="col-md-6">
        <img src="../pizza.png" alt="" width="450"> 
      </div>
      <div class="col md-6">
        <h1>PizzaStore</h1>
        <p>

          PizzaStore is a restaurant chain and international franchise which was founded in 2021, by Darshil. The Comapny is famous for its Italian American Cuisuine Menu, including Pasta and Breads.

        </p>
      </div>
    </div>
</body>
<%- include('./footer.ejs') %>
</html>